<div id="profile-container">
  <div class="row">
    <div class="col-md-6">
      {{> questions }}
    </div>
    <div class="col-md-6" >
      <p id="user-hello"></p>
      <p id="user-rating"></p>
      <ol id="leaderboard"></ol>
    </div>
  </div>
</div>
<script type='text/javascript'>
  $(document).ready(function () {
    jQuery(function () {
      var user = {{{ user }}};
      console.log(user);

      $hello = $("#user-hello");
      $rating = $("#user-rating");

      console.log("Hi, " + user.facebook.name + "!");
      console.log("Your rating is " + user.rating.stars);
      
      console.log($hello);

      $hello.text("Hi, " + user.facebook.name + "!");

      // populate stars
      const rating = parseInt(user.rating.stars);
      stars = "";
      for (var i = 0; i < 5; i++) {
        if (i < rating) {
          stars += "★";
        } 
        else {
          stars += "☆";
        }
      }
      $rating.text(stars);

      $.ajax({
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        url: '/profile/leaderboard',
        success: res => {
          console.log(res)
        }
      })

    });
  });
</script>