<div id="profile-container">
  <div class="row">
    <div class="col-md-6">
      {{> questions }}
    </div>
    <div class="col-md-6" >
      <p id="user-hello"><strong></strong></p>
      <p id="user-rating"><strong></strong></p>
      <ol id="leaderboard">
      </ol>
    </div>
  </div>
</div>
<script type='text/javascript'>
  $(document).ready(function () {
    jQuery(function () {
      var user = {{{ user }}};
      console.log(user);

      $hello = $("#user-hello");
      $rating = $("#user-rating");
      $leaderboard = $("#leaderboard");

      $hello.text("Hi, " + user.facebook.name + "!");

      // populate stars
      const rating = parseInt(user.rating.stars);
      stars = "";
      for (var i = 0; i < 5; i++) {
        if (i < rating) {
          stars += "★";
        } 
        else {
          stars += "☆";
        }
      }
      $rating.text(stars);

      // show leaderboard right away if user has already selected to see their leaderboard
      if (user.show_leaderboard) {
        $ldbd_button.remove()
        get_leaderboard()
      }
      else {
        // add button for showing leaderboard for the first time
        $leaderboard.append(
          '<button class="btn btn-outline-primary" id="show-leaderboard">View Leaderboard</button>'
        )
        $("#show-leaderboard").on("click", e => {
          get_leaderboard()
          $("#show-leaderboard").remove()
        })
      }

      function get_leaderboard() {
        $.ajax({
          type: 'GET',
          contentType: 'application/json; charset=utf-8',
          url: '/profile/leaderboard',
          success: res => {
            res.forEach(friend => {
              $leaderboard.append(
                "<li>" + friend.name + "  " + JSON.stringify(friend.badges) + "</li>"
              )
            })
          }
        })
      }

    });
  });
</script>