<div id="profile-container">
  <div class="row">
    <div class="col-md-6">
      {{> questions }}
    </div>
    <div class="col-md-6">
      Feedback and leaderboard go here.
    </div>
  </div>
</div>
<script type='text/javascript'>
  var user = {{{ user }}}
</script>