
body {
    margin-left: 5%;
    margin-right: 5%;
}

/* To hold questions for profile or feedback */
div.holder {
    background: #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 30px;
    min-width: 320px;
    max-width: 640px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 3px;
}

.inline-radio {
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #b6b6b6;
}

label {
    position: absolute;
    top: 0; left: 0;
    color: #b6b6b6;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border-right: 1px solid #b6b6b6;
}

/* Put icons in circles */
#badge-area .glyphicon {
    background-color: rgb(128, 128, 128);
    color: white;
    font-size: 30px;
    opacity: .5;
    padding: 30px;
    font-size: 30px;
    border-radius: 50px;
}

#badge-area .glyphicon:hover {
    border: 6px dashed red;
    padding: 24px;
    border-radius: 50px;
}

#badge-area .glyphicon-selected {
    border: 6px solid red;
    padding: 24px;
    border-radius: 50px;
    opacity: 1;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#improvements-area table {
    width: 400px;
}

#badge-area tr {
    margin-top: 10px;
    height: 60px;
}

#improvements-area tr {
    margin-top: 10px;
    height: 40px;
}

#star-area .glyphicon {
    color: gray;
    opacity: .5;
    font-size: 50px;
}

.starred {
    opacity: 1 !important;
    color: rgb(255, 196, 0) !important;
}

.btn{
    min-width: 110px;
    border: solid rgb(108, 155, 209);
    border-radius: 10px;
}